body {
  margin: 0px;
  padding: 0px;
  color: bisque;
  font-family: "noto";
  background-color: #343f22;
}

.home {
  height: 100vh;
}

.videoCapa {
  height: 105vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

header {
  max-width: 100%;
  padding-top: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header2 {
  display: flex;
  gap: 10px;
}

.headMaria {
  font-family: "tienne";
  font-size: 19px;
}

.headRocha {
  margin-left: -35px;
  margin-top: 18px;
  font-family: "tienne";
  font-size: 19px;
}

.bank {
  width: 40px;
  height: 40px;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.menu-icon span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: bisque;
  transition: all 0.3s ease;
}

.containerhome01 {
  padding-top: 50px;
  max-height: 100%;
}

.titleHome01 {
  margin-top: 100px;
}

.titleHome1-1 {
  margin-left: 190px;
  margin-bottom: 0px;
}

.containerhome1-2 {
  margin-top: 8px;
  font-family: "slabo";
  min-height: 500px;
}

.titleHome1 {
  font-size: 23px;
  margin-bottom: 0px;
  font-weight: 250;
}

.titleHome1-2 {
  font-size: 45px;
  margin-bottom: 0px;
}

.titleHome1-3 {
  font-size: 45px;
  margin-left: 70px;
}

.bntHome1 {
  background-color: transparent;
  border: 1px solid #ffe4c4;
  margin-top: 15px;
  padding: 10px 90px;
  color: bisque;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.83);
  transition: background-color 0.7s ease;
}

.bntHome1:hover {
  background-color: bisque;
  color: black;
  transition: background-color 0.7s ease;
}

.pHome22 {
  margin-bottom: 0px;
}

.main02 {
  width: 100%;
  height: 70%;
}

.containerhome-2 {
  max-width: 100%;
  // max-height: 100vh;
  min-height: 600px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.865), rgb(52, 63, 34));
  display: flex;
  justify-content: center;
  text-align: center;
}

.home2 {
  font-family: "noto";
  max-width: 700px;
}

.pHome1 {
  font-size: 22px;
  margin-top: 40px;
}

.pHome2 {
  font-size: 19px;
}

.bntHome2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main03 {
  background: linear-gradient(to bottom, #343f22, rgba(255, 228, 196, 0.738));
}

.pjRealizados {
  width: 100%;
  text-align: center;
}

.imgbackground {
  min-height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../fotosEvideosMari/Imagem\ do\ WhatsApp000.jpg);
}

.h1realizado-1 {
  font-family: "noto";
  font-size: 37px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.h1realizado-2 {
  font-family: "noto";
  text-align: end;
  font-size: 37px;
  padding-bottom: 10px;
}

.containerimagem {
  margin: 4% 17%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.h1rodrigo {
  margin-bottom: 5%;
  text-align: center;
}

.flex-container {
  display: flex;
  margin-top: 5%;
  gap: 14px;
  align-items: center;
  justify-content: center;

  .item2 {
    margin-top: 160px;
  }
}

.card1 {
  width: 280px;

  .imgcard1 {
    max-width: 280px;
  }
}

.main04-1 {
  width: 100%;
  min-height: 320px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 228, 196, 0.738), #343f22);
}

.main04-2 {
  width: 100%;

  display: flex;
  justify-content: center;
}

.textsMain04-1 {
  max-width: 650px;
  margin: 35px 0px 0px 0px;
}

.h1realizado-3 {
  font-family: "noto";
}

.pralizado1 {
  font-size: 19px;
  margin-bottom: 0px;
}

.bntHome4 {
  margin-top: 20px;
}

.main05-1 {
  width: 100%;
  height: 1352px;
  background: linear-gradient(to bottom, #343f22, #000000dd);
  font-family: "noto";
  column-gap: 50px;

  .container {
    min-height: 1352px;
  }

  .hrr hr {
    margin-bottom: 200px;
  }

  .hrr2 hr {
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }

  .quemSouEu {
    display: flex;
    flex-direction: row;
    min-height: 600px;

    .textsQuemSouEu {
      width: 50%;
      display: flex;
      justify-content: center;

      .quemSouEutexts {
        max-width: 500px;

        p {
          margin-bottom: 8px;
        }

        .h1-1quemSouEu {
          font-size: 35px;
          margin-bottom: 0px;
        }

        .h1-2quemSouEu {
          font-size: 30px;
          margin-left: 10%;
          margin-bottom: 0px;
        }

        .h1-3quemSouEu {
          font-size: 30px;
          text-align: right;
        }

        .h1-4quemSouEu {
          font-size: 35px;
          // text-align: right;
          width: 250px;
          margin: -75px 0px 0px 300px;
        }

        .h1-5quemSouEu {
          font-size: 30px;
          width: 500px;
          margin-left: 20px;
          margin-bottom: 0px;
        }

        .h1-6quemSouEu {
          font-size: 30px;
          text-align: right;
          margin-bottom: 0px;
        }

        .h1-7quemSouEu {
          font-size: 30px;
          margin-left: 20px;
        }

        .p1QuemSouEu {
          display: flex;
          width: 500px;
          text-align: justify;
          // gap: 20px;
          font-size: 15px;
        }
      }
    }

    .imagemQuemSouEu {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .quemSouEuImg {
        max-width: 350px;
        max-height: 350px;
        margin-top: -30px;
      }
    }

    .imagemQuemSouEu2 {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-top: 152px;

      .quemSouEuImg {
        max-width: 350px;
        max-height: 350px;
        margin-top: -55px;
      }
    }
  }

  .hrr {
    text-align: center;
    align-items: center;
    margin: 0pc 50px;
  }
}

.carousel-inner {
  border-radius: 25px;
}

.imgcard1 {
  border-radius: 10px;
}

.quemSouEuImg {
  border-radius: 10px;
}

.main07-1-3 {
  border-radius: 10px;
}

.main06-1 {
  height: 775px;
  text-align: center;
  background: linear-gradient(to bottom, #030302df, #000000e5);

  .containerMain06 {
    box-shadow: 5px 5px 6px bisque;
    width: 100%;
    border-radius: 25px;
  }

  .h1main06 {
    margin-top: 110px;
  }

  .textMain06 {
    width: 300px;
    height: 200px;
    margin-top: 100px;
    box-shadow: 5px 5px 6px bisque;
    border-radius: 25px;
  }

  .textMain06-2 {
    margin-top: 200px;
  }

  .conteudoMain06 {
    min-height: 510px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.main07-0 {
  background: #000000e5;
  width: 100%;
  height: 720px;
}

.main07-1 {
  .header2 {
    display: flex;
    gap: 10px;
  }

  .headMaria {
    font-family: "tienne";
    font-size: 19px;
  }

  .headRocha {
    margin-left: -35px;
    margin-top: 18px;
    font-family: "tienne";
    font-size: 19px;
  }

  .bank {
    width: 30px;
    height: 30px;
  }

  .main07-1-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .containertxtmain07-1 {
    margin-top: 37px;
  }

  .bntHome1 {
    color: bisque;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.83);
    transition: background-color 0.7s ease;
  }
  .bntHome1:hover {
    background-color: bisque;
    color: black;
    transition: background-color 0.7s ease;
  }

  .contatosMain07-1 {
    margin-top: 62.7px;
  }

  .contatosMain07-1-0 {
    margin-top: 62.7px;
  }

  .contatosMain07-1-0-1 {
    margin: 20.9px 0px;
  }

  .contatosMain07-1-2 {
    margin-bottom: 0px;
    font-size: 17px;
  }

  .redesociais {
    svg {
      margin-top: 41.8px;
      margin-right: 15px;
    }
  }

  .hra {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .main07-1-3 {
    width: 50%;
    background-image: url(../../fotosEvideosMari/fotografia-de-arquitetura-e-interiores_fcm3113.jpg);
  }
}

@media (max-width: 992px) {
  .headMaria {
    font-size: 22px;
  }

  .headRocha {
    font-size: 22px;
  }

  .containerhome01 {
    margin-top: 50px;
  }

  .titleHome1 {
    font-size: 28px;
    font-weight: 250;
  }
  .titleHome1-1 {
    margin-left: 243px;
    margin-bottom: 0px;
  }

  .containerhome1-2 {
    margin-top: 12.5px;
    margin-bottom: 100px;
    font-family: "slabo";

    .titleHome1 {
      font-size: 50px;
      margin-bottom: 0px;
    }

    .titleHome1-2 {
      margin-bottom: 0px;
    }

    .titleHome1-3 {
      margin-left: 45px;
    }
  }

  .bntHome1 {
    font-size: 20px;
  }

  .bntHome1 {
    margin-bottom: 30px;
  }

  .pHome1 {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 8px;
  }

  .pHome2 {
    font-size: 22px;
  }

  .pHome22 {
    margin-bottom: 0px;
  }

  .containerhome-2 {
    // min-height: 900px;
    height: auto;
  }

  .home2 {
    font-family: "noto";
    padding: 0px 10px;
    max-height: auto;
  }

  .phome2 {
    width: auto;
  }

  .main03 {
    .pjRealizados {
      margin-top: 0px;
      padding-top: 0px;
    }
  }

  .card1.item2 {
    margin-top: 0px;
  }

  .h1realizado-1 .h1realizado-2 {
    font-size: 35px;
  }

  .h1realizado-2 {
    text-align: center;
    padding: 0px;
    margin: 0px 0px 30px 0px;
  }

  .h1rodrigo {
    padding-top: 18px;
    margin-bottom: 22px;
    font-size: 35px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;

    h6 {
      font-size: 22px;
    }

    p {
      font-size: 20px;
    }
  }

  .bntHome2 {
    margin-top: 25px;
    // margin-bottom: 30px;
  }

  .main04-1 {
    .textsMain04-1 {
      max-width: 650px;
    }
  }

  .quemSouEu {
    display: flex;
    align-items: center;
    padding-bottom: 55px;
  }

  .textsQuemSouEu {
    // width: 100%;
  }

  .main05-1 {
    .hrr hr {
      margin-bottom: 30px;
    }

    .quemSouEu {
      .textsQuemSouEu {
        width: 380px;

        .quemSouEutexts {
          width: 380px;

          .h1-4quemSouEu {
            margin-top: -75px;
            margin-left: 295px;
          }

          .h1-5quemSouEu {
            margin-left: 38px;
          }

          .h1-7quemSouEu {
            margin-left: 0px;
            margin-bottom: 8px;
          }

          .p1QuemSouEu {
            width: 350px;
            text-align: justify;

            p {
              width: 350px;
            }
          }
        }
      }

      .imagemQuemSouEu {
        .quemSouEuImg {
          margin-top: 0px;
          margin-left: 0px;
        }
      }

      .textsQuemSouEu {
        .quemSouEutexts {
          .h1-1-2quemSouEu {
            margin-left: 0px;
          }
        }
      }

      .imagemQuemSouEu2 {
        .quemSouEuImg {
          margin-top: 50px;
        }
      }
    }
  }

  .quemSouEu2 {
    padding-bottom: 0px;
  }

  .h1-1quemSouEu {
    margin-left: 0px;
  }

  .h1-2quemSouEu {
    width: 370px;
  }

  .h1-3quemSouEu {
    width: 380px;
    margin-left: 23%;
    margin-bottom: 15px;
  }

  .h1-4quemSouEu {
    // margin-top: -81px;
    margin-left: 300px;
    width: 250px;
    margin-bottom: 0px;
  }

  .h1-6quemSouEu {
    width: 500px;
    margin-left: 35px;
  }

  .pralizado1 {
    font-size: 22px;
  }

  .quemSouEuImg {
    max-width: 190px;
    height: 190px;
  }

  // .p1QuemSouEu {
  //   width: 350px;
  //   text-align: justify;

  //   p {
  //     width: 350px;
  //   }
  // }

  .main06-1 {
    .textMain06 {
      height: 250px;
    }
  }

  .main07-0 {
    min-height: 850px;

    .bntHomeFooter {
      margin: 0px;
    }
  }
}

@media (max-width: 767px) {
  .containerhome-2 {
    max-height: 2600px;
    min-height: auto;
    min-height: auto;
    height: auto;
  }

  .home2 {
    min-height: 850px;
    max-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .pHome2 {
    font-size: 25px;
  }

  .textsQuemSouEu {
    margin-bottom: 60px;
    // width: 650px;
  }

  .main04-1 {
    margin-bottom: 40px;
    .pralizado1 {
      font-size: 25px;
    }

    .textsMain04-1 {
      margin-bottom: 0px;
    }

    .bntHome4 {
      margin-bottom: 15px;
    }
  }

  .main05-1 {
    height: auto;

    .hrr hr {
      margin-bottom: 100px;
    }

    .quemSouEu {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      // width: 650px;

      hr {
        margin-top: 80px;
      }

      .h1-1quemSouEu {
        margin-top: -360px;
        margin-left: 10px;
        text-align: center;
      }

      .h1-3quemSouEu {
        margin-bottom: 265px;
      }

      .p1QuemSouEu {
        width: 100%;
        height: auto;
        text-align: justify;
      }

      p {
        width: 100%;
        font-size: 20px;
        // text-align: center;
      }

      .imagemQuemSouEu {
        // width: 450px;
        // height: 284.55px;
      }

      .imagemQuemSouEu {
        .quemSouEuImg {
          margin-top: 140px;
        }
      }

      .imagemQuemSouEu2 {
        .quemSouEuImg2 {
          margin-top: 215px;
        }
      }
    }
  }

  .quemSouEutexts {
    max-width: 500px;
  }

  .quemSouEu {
    .textsQuemSouEu {
      width: 100%;
    }
  }

  .main05-1 {
    .hrpreto {
      margin: 0px;
    }

    .quemSouEu {
      margin: 0px;
      // margin-left: 25px;

      .textsQuemSouEu {
        margin-bottom: 0px;
        width: 500px;

        .quemSouEutexts {
          width: 380px;

          hr {
            margin-top: 110px;
          }

          .h1-1-1quemSouEu {
            margin-left: 5px;
          }

          .h1-1-2quemSouEu {
            margin-left: 10px;
            margin-top: -430px;
            width: auto;
          }

          .h1-2quemSouEu {
            width: 100%;
            margin-top: -90px;
            margin-left: 0px;
            text-align: center;
          }

          .h1-3quemSouEu {
            width: 100%;
            text-align: center;
            margin-bottom: 227px;
            margin-left: 0px;
          }

          .h1-4quemSouEu {
            text-align: center;
            width: 100%;
            margin-top: -90px;
            margin-left: 0px;
          }

          .h1-5quemSouEu {
            text-align: center;
            width: 500px;
            // margin-top: -90px;
            margin-left: -60px;
          }

          .h1-6quemSouEu {
            width: 400px;
            text-align: center;
            margin-left: -10px;
          }

          .h1-7quemSouEu {
            text-align: center;
            width: auto;
            margin-left: 0px;
            margin-bottom: 225px;
          }

          .p1QuemSouEu {
            width: 380px;

            p {
              width: 380px;
            }
          }
        }
      }
    }

    .imagemQuemSouEu2 {
      max-width: 400px;
    }
  }

  .main06-1 {
    height: auto;

    .conteudoMain06 {
      display: flex;
      flex-direction: column;
      align-items: center;

      .textMain06 {
        width: 300px;
        height: auto;
        margin-top: 0px;
        margin-top: 20px;

        .pMain06 {
          font-size: 19px;
        }
      }

      .textMain06-1 {
        margin-top: 60px;
      }

      .textMain06-3 {
        margin-bottom: 110px;
      }

      .textsMain04-1 {
        margin-bottom: 0px;
      }
    }
  }

  .main07-0 {
    display: flex;
    justify-content: center;
    align-items: center;

    .bntHomeFooter {
      font-size: 20px;
    }

    .bntHome1 {
      font-size: 20px;
    }
  }

  .main07-1 {
    .bank {
      width: 40px;
      height: 40px;
    }

    .headMaria {
      font-size: 22px;
    }

    .headRocha {
      font-size: 22px;
    }

    .contatosMain07-1-2 {
      font-size: 22px;
    }
  }

  .redesociais {
    .bi-facebook .bi-twitter .bi-instagram {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 767px) {
  header {
    padding-top: 50px;
  }

  .containerhome01 {
    margin-top: 0px;
    padding-top: 0px;

    .bntHome1 {
      margin-top: 110px;
      font-size: 20px;
      padding-right: 70px;
      padding-left: 70px;
    }
  }

  .titleHome01 {
    margin-top: 0px;
    margin-top: 100px;
    font-size: 27px;
  }

  .titleHome1-1 {
    text-align: right;
    margin-left: 0px;
    font-size: 27px;
  }

  .containerhome1-2 {
    text-align: center;

    .titleHome1-2 {
      font-size: 40px;
      margin-top: 110px;
    }

    .titleHome1-3 {
      font-size: 30px;
      margin-left: 0px;
    }
  }

  .pHome1 {
    font-size: 30px;
  }

  .pHome2 {
    font-size: 22px;
  }

  .bntHome2 {
    font-size: 20px;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 40px;
  }

  .h1realizado-2 {
    padding-bottom: 30px;
  }

  .main04-1 {
    .pralizado1 {
      font-size: 22px;
    }
  }

  .main05-1 {
    .quemSouEu {
      .quemSouEuImg {
        margin-top: 215px;
      }

      .quemSouEuImg2 {
        margin-top: 240px;
      }

      .textsQuemSouEu {
        .quemSouEutexts {
          hr {
            margin-bottom: 20px;
          }

          .h1-1quemSouEu {
            font-size: 35px;
          }

          p {
            font-size: 17px;
          }

          .setaQuemSouEu {
            margin-left: -17px;
          }

          .h1-2quemSouEu {
            margin-top: -90px;
          }

          .h1-3quemSouEu {
            text-align: center;
            font-size: 27px;
            margin-bottom: 230px;
          }

          .h1-4quemSouEu {
            text-align: center;
            font-size: 33px;
          }

          .h1-5quemSouEu {
            text-align: center;
          }

          .h1-6quemSouEu {
            text-align: center;
            font-size: 27px;
          }

          .h1-7quemSouEu {
            text-align: center;
            font-size: 27px;
            // max-width: 299px;
            margin-left: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .main04-1 {
    // margin-bottom: 0px;
  }
  .main05-1 {
    height: auto;

    .quemSouEu {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      width: 100%;

      hr {
        margin-top: 80px;
      }

      .textsQuemSouEu {
        margin-bottom: 0px;
        max-width: 463px;

        .quemSouEutexts {
          max-width: 463px;
          justify-content: center;

          .h1-1-2quemSouEu {
            margin-top: -420px;
          }

          .h1-4quemSouEu {
            margin-left: 0px;
            width: 100%;
          }

          .h1-5quemSouEu {
            font-size: 25px;
            margin-left: 0px;
            width: 410px;
            margin-left: -18px;
          }

          .h1-6quemSouEu {
            max-width: 100%;
            margin-left: 0px;
            font-size: 24px;
          }

          .h1-7quemSouEu {
            font-size: 24px;
            margin-bottom: 230px;
          }
        }
      }

      .quemSouEuImg2 {
        margin-top: 200px;
      }

      .h1-1quemSouEu {
        max-width: 100%;
        margin-top: -360px;
        margin-left: 0px;
        text-align: center;
      }

      .h1-3quemSouEu {
        // margin-bottom: 260px;
        margin-left: 0px;
        max-width: 350px;
      }

      .p1QuemSouEu {
        max-width: 463px;
        height: auto;
        margin-left: 0px;
      }

      p {
        width: auto;
        font-size: 20px;
      }
    }

    .quemSouEu {
      .textsQuemSouEu {
        .quemSouEutexts {
          .h1-7quemSouEu {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .bntHome2 {
    margin-bottom: 25px;
  }
  .h1realizado-1 {
    font-size: 29px;
  }
  .h1realizado-2 {
    font-size: 29px;
    padding-bottom: 0px;
  }

  .pHome1 {
    margin-bottom: 25px;
  }

  .pHome2 {
    text-align: justify;
    padding: 0px 27px;
  }

  .main05-1 {
    height: auto;

    .quemSouEu {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      width: 100%;

      .textsQuemSouEu {
        margin-bottom: 0px;
        max-width: 350px;

        .quemSouEutexts {
          max-width: 350px;
          align-items: center;

          .h1-2quemSouEu {
            // margin-top: 0px;
            font-size: 29px;
            margin-left: 0px;
          }

          .h1-4quemSouEu {
            margin-left: 0px;
            width: auto;
            font-size: 30px;
          }

          .h1-5quemSouEu {
            margin-left: -20px;
            max-width: 390px;
            font-size: 24px;
          }

          .h1-6quemSouEu {
            max-width: 370px;
            margin-left: -9px;
            font-size: 24px;
          }

          .h1-3quemSouEu {
            margin-bottom: 230px;
            margin-left: 0px;
            max-width: 350px;
          }

          .h1-1-2quemSouEu {
            margin-top: -415px;
          }
        }
      }

      hr {
        margin-top: 80px;
      }

      .h1-1quemSouEu {
        margin-top: -360px;
        margin-left: 0px;
      }

      // .h1-3quemSouEu {
      //   // margin-bottom: 265px;
      //   margin-left: 0px;
      //   max-width: 350px;
      // }

      .p1QuemSouEu {
        max-width: 350px;
        height: auto;
        margin-left: 0px;
      }

      p {
        width: auto;
        font-size: 20px;
      }

      .imagemQuemSouEu {
        .quemSouEuImg {
          margin-top: 140px;
        }
      }

      .imagemQuemSouEu2 {
        .quemSouEuImg2 {
          margin-top: 195px;
        }
      }
    }

    .quemSouEu2 {
      padding-bottom: 0px;
    }
  }

  .main07-0 {
    .bntHome1 {
      font-size: 17px;
      padding: 10px 60px;
    }

    .bntHomeFooter {
      padding: 10px 30px;
      font-size: 18px;
    }

    h1 {
      font-size: 23px;
    }

    .contatosMain07-1-2 {
      font-size: 19px;
      margin-right: 0px;
    }
  }

  .main07-1-3 {
    width: 40%;
  }
}

@media (max-width: 390px) {
  .main05-1 {
    .quemSouEu {
      .textsQuemSouEu {
        margin-bottom: 0px;
        max-width: 350px;
        // align-items: center;

        .quemSouEutexts {
          max-width: 350px;
          align-items: center;

          .h1-2quemSouEu {
            margin-left: 0px;
            font-size: 27px;
            text-align: center;
            max-width: 350px;
          }

          .h1-4quemSouEu {
            margin-left: 0px;
            width: auto;
            // text-align: right;
            font-size: 30px;
          }

          .h1-5quemSouEu {
            margin-left: -5px;
            max-width: 360px;
            font-size: 22px;
          }

          .h1-6quemSouEu {
            max-width: 365px;
            margin-left: -9px;
            font-size: 21px;
          }
        }
      }
    }
  }
}

// @media (max-width: 380px) {
//   .titleHome01 {
//     margin-top: 70px;
//   }
//   .main05-1 {
//     .quemSouEu {
//       .textsQuemSouEu {
//         margin-bottom: 0px;
//         max-width: 350px;

//         .quemSouEutexts {
//           max-width: 350px;
//           align-items: center;

//           .h1-2quemSouEu {
//             margin-left: 0px;
//             font-size: 25px;
//             text-align: center;
//             max-width: 350px;
//           }

//           .h1-4quemSouEu {
//             margin-left: 0px;
//             width: auto;
//             // text-align: right;
//             font-size: 30px;
//           }

//           .h1-5quemSouEu {
//             margin-left: -5px;
//             max-width: 360px;
//             font-size: 21px;
//           }

//           .h1-6quemSouEu {
//             max-width: 360px;
//             margin-left: -9px;
//             font-size: 21px;
//           }

//           .h1-3quemSouEu {
//             font-size: 25px;
//           }
//         }
//       }

//       .imagemQuemSouEu {
//         .quemSouEuImg {
//           margin-top: 180px;
//         }
//       }

//       .imagemQuemSouEu2 {
//         .quemSouEuImg2 {
//           // margin-top: 215px;
//         }
//       }
//     }
//   }
// }

@media (max-height: 695px) {
  .containerhome01 {
    height: auto;
  }

  .container {
    height: auto;
  }

  .titleHome01 {
    margin-top: 70px;
  }

  .containerhome1-2 {
    .titleHome1-2 {
      margin-top: 90px;
    }
  }

  .containerhome01 {
    .bntHome1 {
      margin-top: 90px;
    }
  }
}

@media (max-height: 635px) {
  .containerhome01 {
    height: auto;
  }

  .container {
    height: auto;
  }

  .titleHome01 {
    margin-top: 30px;
  }

  .containerhome1-2 {
    .titleHome1-2 {
      margin-top: 60px;
    }
  }

  .containerhome01 {
    .bntHome1 {
      margin-top: 80px;
    }
  }
}

@media (max-width: 380px) {
  header {
    padding-top: 30px;
  }

  .pHome2 {
    padding: 0px 0px;
  }

  .main04-1 {
    .bntHome4 {
      margin-bottom: 15px;
    }
  }

  .main05-1 {
    .quemSouEu {
      .quemSouEuImg {
        margin-top: 260px;
      }

      hr {
        margin-bottom: 30px;
      }

      .quemSouEuImg2 {
        // margin-top: 210px;
      }

      .textsQuemSouEu {
        .quemSouEutexts {
          .h1-2quemSouEu {
            margin-left: 0px;
            font-size: 25px;
            text-align: center;
            max-width: 350px;
            margin-top: -80px;
          }

          .h1-4quemSouEu {
            margin-left: 0px;
            width: auto;
            // text-align: right;
            font-size: 30px;
          }

          .h1-5quemSouEu {
            margin-left: -0px;
            max-width: 350px;
            font-size: 21px;
          }

          .h1-6quemSouEu {
            max-width: 350px;
            margin-left: 0px;
            font-size: 21px;
          }

          .h1-7quemSouEu {
            margin-bottom: 233px;
          }

          .h1-3quemSouEu {
            margin-bottom: 223px;
          }

          .h1-1-2quemSouEu {
            margin-top: -410px;
          }
        }
      }

      .p1QuemSouEu {
        justify-content: center;

        p {
          // max-width: 290px;
        }
      }

      // .imagemQuemSouEu {
      //   .quemSouEuImg {
      //     margin-top: 140px;
      //   }
      // }

      .imagemQuemSouEu2 {
        .quemSouEuImg2 {
          margin-top: 185px;
        }
      }
    }
  }

  .setaQuemSouEu {
    display: none; /* ou visibility: hidden; ou qualquer outra propriedade para ocultar */
  }
}

@media (max-width: 322px) {
  header {
    padding-top: 20px;
  }

  .titleHome01 {
    margin-top: 40px;
  }

  .titleHome1 {
    font-size: 25px;
  }

  .containerhome1-2 {
    .titleHome1-2 {
      margin-top: 40px;
      font-size: 35px;
    }

    .bntHome1 {
      margin-top: 40px;
      padding: 15px 37px;
    }
  }

  .bntHome2 {
    padding: 15px 35px;
  }

  .bntHome4 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .pHome2 {
    padding: 0px 5px;
  }

  .main05-1 {
    .quemSouEu {
      hr {
        margin-top: 120px;
        margin-bottom: 20px;
      }

      p {
        max-width: 290px;
      }

      .imagemQuemSouEu {
        .quemSouEuImg {
          margin-top: 173px;
        }
      }

      .imagemQuemSouEu2 {
        .quemSouEuImg2 {
          margin-top: 188px;
        }
      }

      .h1-1quemSouEu {
        margin-top: -393px;
      }

      .textsQuemSouEu {
        width: 320px;

        .quemSouEutexts {
          width: 320px;

          .h1-2quemSouEu {
            margin-left: 0px;
            font-size: 25px;
            text-align: center;
            max-width: 320px;
            margin-top: -80px;
          }

          .h1-3quemSouEu {
            width: 320px;
          }

          .p1QuemSouEu {
            width: 320px;
          }

          .h1-4quemSouEu {
            width: 320px;
            margin-top: -100px;
          }

          .h1-5quemSouEu {
            max-width: 320px;
          }

          .h1-6quemSouEu {
            max-width: 320px;
          }

          .h1-7quemSouEu {
            width: 320px;
            margin-bottom: 230px;
          }

          .h1-1-2quemSouEu {
            max-width: 335px;
            margin-top: -420px;
          }

          .imagemQuemSouEu {
            .quemSouEuImg {
              margin-top: 180px;
            }
          }

          .imagemQuemSouEu2 {
            .quemSouEuImg2 {
              margin-top: 200px;
            }
          }
        }
      }
    }
  }

  .main07-0 {
    .bntHomeFooter {
      padding: 15px 22px;
    }

    .main07-1-3 {
      width: 27px;
    }
  }
}
