.main05-1 {
  height: auto;

  .quemSouEu {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;

    .textsQuemSouEu {
      margin-bottom: 0px;
      max-width: 350px;

      .quemSouEutexts {
        max-width: 350px;
        align-items: center;

        .h1-2quemSouEu {
          margin-left: 0px;
        }

        .h1-4quemSouEu {
          margin-left: 0px;
          width: auto;
          font-size: 30px;
        }

        .h1-5quemSouEu {
          margin-left: -5px;
          max-width: 360px;
          font-size: 22px;
        }

        .h1-6quemSouEu {
          max-width: 370px;
          margin-left: -9px;
          font-size: 21px;
        }
      }
    }

    hr {
      margin-top: 80px;
    }

    .h1-1quemSouEu {
      margin-top: -300px;
      margin-left: 0px;
    }

    .h1-3quemSouEu {
      margin-bottom: 265px;
      margin-left: 0px;
      max-width: 350px;
    }

    .p1QuemSouEu {
      max-width: 350px;
      height: auto;
      margin-left: 0px;
    }

    p {
      width: auto;
      font-size: 20px;
    }
  }

  .quemSouEu2 {
    padding-bottom: 0px;
  }
}

.main07-0 {
  .bntHome1 {
    font-size: 17px;
    padding: 10px 60px;
  }

  .bntHomeFooter {
    padding: 10px 30px;
    font-size: 18px;
  }

  h1 {
    font-size: 23px;
  }

  .contatosMain07-1-2 {
    font-size: 19px;
    margin-right: 0px;
  }
}

.main07-1-3 {
  width: 40%;
}
